

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div style="background-color: #009CD1; padding-top: 10px; width: 100%;  line-height: 100px; height: 450px">
    <h1 style="color: white; margin-left: 30px; font-size: 3em; font-family: serif; text-align:center">Something went wrong  </h1>
    <h1 style="color: white; margin-left: 30px; text-align:center">Our Technical Support are on it</h1>
    <h1 style="color: white;margin-top: 50px; margin-left: 30px; text-align:center"> <a style="color:  #009CD1;" th:href="@{https://d-si.ptb.de/#/d-comparison/}" th:target="_blank">back to D-SI Services </a></h1>
</div>
</body>
</html>